.modal-header, .close{
	padding: 35px 50px;
	background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
}

.modal-footer {
      background-color: #f9f9f9;
  }

.date-own {
	width: 200px;
}